<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <title>Listado de empleados</title>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/empleados}">Control de empleados</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h1>Lista de empleados</h1>
        </div>
        <div class="row">
            <div class="col-2">
                <a th:href="@{/empleados/nuevo}" class="btn btn-primary btn-sm mb3">Agregar empleado</a>
            </div>
            <div class="col-2">
                <a th:href="@{/departamentos}" class="btn btn-primary btn-sm mb3">Gestionar departamentos</a>
            </div>
        </div>
        <br>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>NIF</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empleado : ${empleados}">
                    <td th:text="${empleado.nif}">Nif</td>
                    <td th:text="${empleado.nombre}">Nombre</td>
                    <td th:text="${empleado.apellido1} + ' ' + ${empleado.apellido2}">Apellidos</td>
                    <td th:text="${empleado.departamento.nombre}">Departamento</td>
                    <td>
                        <a th:href="@{/empleados/editar/{codigo}(codigo=${empleado.codigo})}" class="btn btn-info">Editar</a>
                        <a th:href="@{/empleados/eliminar/{codigo}(codigo=${empleado.codigo})}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>